body > .container {
    padding: 60px 15px 0;
}
.text-blue{
  color: #2a86ca;
}
/*@media all and (max-width: 1200px) { /* screen size until 1200px */
  /*h1 { font-size: 1.5em; }
}*/
/*@media all and (max-width: 1000px) { /* screen size until 1000px */
    /*h1 { font-size: 1.2em; }
    }*/
@media all and (max-width: 500px) { /* screen size until 500px */
    /*h1 { font-size: 1.8em; }*/
      td { font-size: 0.8em; }
      a { font-size: 0.8em; }
    }
/*Barra superior*/
.bg-bbva {
  background-color: #072146;
}
.imgBBVA { width: 87px }
.light-toggler.navbar-toggler{
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}

/*Login*/
.form-signin {
    width: 100%;
    max-width: 401px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin input[type="email"] {
    margin-bottom: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Cuentas*/
.cuentas-view {
  width: 100%;
  padding: 15px;
}
.cuentas-view table {
  max-width: 600px;
  margin: 0 auto;
}
