body, html {
    height: 100%;
}

.fondocompleto {
    /* The image used */
    background-image: url("background.jpg");
    background-color: #d0d9e8;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inheritHW {
  height: inherit;
  width: inherit;
}

.table {
      background-color: antiquewhite;
}

.table-responsive {
  margin-right: 4vw;
  margin-left: 4vw;
  width: auto;
}

.letraMenu24px {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: rgb(252, 180, 0);
}

.letraMenu20px {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white !important;
}

.letraMenu15px {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: rgb(252, 180, 0);
}

.cajaLogin{
    display: block;
    width: 17vw;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contenedorResposive{
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 0;
  padding-right: 0;
}
