<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Emisor</h1>
    <button on-click="enviarEvento">Púlsame</buton>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
        };
      }

      enviarEvento(e)
      {
          console.log("ON-CLICK", "Han pulsado el botón");
          console.log(e);
          this.dispatchEvent(new CustomEvent("mievento", {"detail":{"course":"TechU", "year":"2018"}}));
      }
    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
