<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$="{{hide}}">
      <iron-ajax
        id="hacerlogin"
        url="http://ruta3-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/login"
        method="POST"
        handle-as="json"
        on-response="mostrarResultadoLogin"
        on-error="mostrarError"></iron-ajax>

        <div class="form-signin">

            <h2 class="h3 mb-3 font-weight-normal">Inicie sesión, por favor</h2>
            <input placeholder="Email" type="email" class="form-control" value="{{email::input}}" required/>
            <input placeholder="Contraseña" type="password" class="form-control" value="{{password::input}}" required/>
            <div hidden$="{{!error}}" class="alert alert-danger" role="alert">
              <!-- <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
              <img src="/img/glyphicons_free/glyphicons/png/glyphicons-197-exclamation-sign.png" alt="Warning" height="20" width="20">
              <span class="sr-only">Error:</span>
              Usuario incorrecto. Revise los datos, por favor
            </div>
            <button class="btn btn-lg btn-primary btn-block" on-click="logar">Entrar</button>
            <span hidden$="{{!logado}}">Bienvenido de nuevo</span>

        </div>
      </div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/estilos.css">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          logado:{
            type: Boolean,
            value: false
          },
          error:{
            type: Boolean,
            value: false
          },
          hide:{
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoLogin(datos){
        console.log("4. Recibimos respuesta");
        console.log(datos.detail.response);
        this.logado = true;
        this.dispatchEvent(new CustomEvent("loginuser", {"detail":{"loggeduser":datos.detail.response.usuario}}));
      }

      logar(){

        if (this.email.value == ''){
          console.log('Introduce el mail');
        }
        if (this.password == undefined){
          console.log('Introduce el password!');
        }
        console.log("1. El usuario " +this.email+" / "+this.password+" ha pulsado el boton");
        this.$.hacerlogin.headers.email = this.email;
        this.$.hacerlogin.headers.password = this.password;
        console.log("2. Voy a enviar la peticion");
        this.$.hacerlogin.generateRequest();
        console.log("3. Petición Enviada");
        //Montamos cabeceras para incluir los parametros y mandarlo por http POST a la API
      }

      mostrarError(error){
        console.error("4. llega el Error");
        console.error(error);
        this.error = true;
      }

      hideLogin(){
        this.hide = !this.hide;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
