<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="visor-cuentas">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$="{{hide}}">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a>Mis Cuentas</a></li>
        </ol>
      </nav>
      <iron-ajax
        id="obtenerCuentas"
        url="http://ruta3-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cargarCuentasUsuario"
        handle-as="json"
        method="GET"
        on-response="mostrarCuentas"
        on-error="mostrarError"></iron-ajax>
        <div class="table-responsive">
          <template is="dom-if" if="{{cuentasCargadas}}">
            <h1>Sus Cuentas</h1>
            <table class="table table-striped">
              <thead class="thead-inverse"><td>#</td> <td>IBAN</td><td></td></thead>
              <tbody>
                <template is="dom-repeat" items="{{cuentas}}">
                  <tr>
                      <td>{{index}}</td><td>{{item.iban}}</td><td><a on-click="mostrarMovimientos" class="btn btn-info">Ver Movimientos</a></td>
                  </tr>

                </template>
              </tbody>
            </table>
          </template>
        </div>
    <template is="dom-if" if="{{!cuentasCargadas}}">
      <h2>Lo sentimos!</h2>
      <h2>No tienes cuentas abiertas</h2>
    </template>

  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/techustyle.css">
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() {
        return 'visor-cuentas';
      }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          hide: {
            type: Boolean,
            value: true
          },

        };
      }

      buscaCuentas(data) {
        console.log("Buscando usuario: " + data);
        this.idcliente = data.loggeduser;
        this.$.obtenerCuentas.headers.id = data.loggeduser;
        this.$.obtenerCuentas.generateRequest();
        //Montamos cabeceras para incluir los parametros y mandarlo por http POST a la API
      }

      mostrarCuentas(resultado) {
        console.log(resultado.detail.response);
        this.toggleView();
        this.cuentas = resultado.detail.response;
      }

      mostrarError(error) {
        console.log(error.detail.response);
      }

      cuentasCargadas() {
        return this.cuentas.length() != 0;
      }

      mostrarMovimientos(e) {
        var iban = e.model.item.iban;
        this.dispatchEvent(new CustomEvent("cargarmovimientos", {
          "detail": {
            "selectediban": iban,
            "userid": this.idcliente
          }
        }));
      }

      toggleView() {
        this.hide = !this.hide;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
