<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front_proyecto_node-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="text" value="[[nombre]]"/>
    <h2>Hello {{nombre}} [[apellido]]</h2>
    <h2>Hello [[nombre]] [[apellido]]</h2>
    <input type="range" min="18" max="70" value="{{edad::input}}"/>
    <h3>Tengo [[edad]] años</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Front_proyecto_nodeApp extends Polymer.Element {
      static get is() { return 'front_proyecto_node-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          edad: {
            type: Number
          }

        };
      }
    }

    window.customElements.define(Front_proyecto_nodeApp.is, Front_proyecto_nodeApp);
  </script>
</dom-module>
