<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$={{hide}}
      <h1>Error 404</h1>
      <h2>¿Que estas buscando?</h2>
    </div>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
          hide:{
            type:Boolean,
            value:true
          }
        };
      }

      toggleView(){
        this.hide= !this.hide;
      }
    }



    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
