<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">

<dom-module id="mapa-custom">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

      <google-map latitude="{{latitud::input}}" longitude="{{longitud::input}}" zoom="15" api-key="AIzaSyCkb9CbosGG4dH5AXpGFcZ0aCdRi_x5aIM">
        <google-map-marker animation="DROP" latitude="{{latitud::input}}" longitude="{{longitud::input}}" draggable="true"></google-map-marker>
      </google-map>

  </template>

  <script>
    /**
     * `mapa-custom`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MapaCustom extends Polymer.Element {
      static get is() { return 'mapa-custom'; }
      static get properties() {
        return {
          latitud:{
            type: Number
          },
          longitud:{
            type:Number
          }
        };
      }

      cargarMapa(){
        console.log("Cargar Mapa");
      }
    }



    window.customElements.define(MapaCustom.is, MapaCustom);
  </script>
</dom-module>
