<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../src/emisor-app/emisor-app.html">
<link rel="import" href="../../src/receptor-app/receptor-app.html"> -->
<link rel="import" href="../../src/login-usuario/login-usuario.html">
<link rel="import" href="../../src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="../../src/barra-menu/barra-menu.html">
<link rel="import" href="../../src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="../../src/page-not-found/page-not-found.html">

<dom-module id="padre-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <emisor-app id="emisor" on-mievento="capturaEvento"></emisor-app>
    <receptor-app id="receptor"></receptor-app> -->
    <barra-menu id="menusup"> </barra-menu>
    <login-usuario id="loginView" on-loginuser="loadAccountView"></login-usuario>
    <visor-cuentas id="accountView" on-cargarmovimientos="loadAccountDetailView"></visor-cuentas>
    <visor-movimientos id="accountdetailview" on-cargacuentas="loadAccountView"></visor-movimientos>
    <page-not-found id="pagenotfound"></page-not-found>

    </script>

  </template>

  <script>
    /**
     * javier@bbva.com
     * javier
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          loggeduser : {
            type:Number,
            value:null
          }
        };
      }

      // use path set api to propagate changes to sessionstorage
      updateUserSession(id) {
        console.log("Actualiza session de usuario");

        this.loggeduser = id;
        // var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        // if (null != loggeduser){
        //   loggeduser.userid = id;
        //   loggeduser.logged = "YES";
        //   window.sessionStorage.setItem("loggeduser", JSON.stringify(loggeduser));
        // }else{
        //   //initialize loggeduser param on session storage
        //   loggeduser = {userid : id, logged: "YES"};
        //   window.sessionStorage.setItem("loggeduser", JSON.stringify(loggeduser));
        // }

      }

      loadAccountView(logindata){
        console.log("DETECTO LOGIN");
        console.log(logindata.detail);
        //No hay usuario logado y se reciben datos desde el login
        if(null == this.loggeduser && null != logindata.detail.loggeduser){
          this.$.accountView.buscaCuentas(logindata.detail);
          // this.updateUserSession(logindata.detail);
          this.updateUserSession(logindata.detail.loggeduser);
          this.$.loginView.hideLogin();
        }else if(null != this.loggeduser){//ya hay un usuario logado, viene desde el visor de movimientos
          this.$.accountView.toggleView();
        }
      }

      loadAccountDetailView(accountdata){
        // var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        console.log(accountdata);

        if (this.loggeduser == accountdata.detail.userid){
          console.log("Selecciona cuenta: "+accountdata.detail.selectediban);
          this.$.accountdetailview.loadMovimientos(accountdata.detail.selectediban);
          this.$.accountView.toggleView();
        }else{
          this.$.pagenotfound.toggleView();
          this.$.accountView.toggleView();
        }
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
