<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
  <template hidden={{showReceptor}}>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Receptor</h1>
    <h3>{{prop1}}</h3>
    <h3>{{prop2}}</h3>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          prop1 : {
            type:String,
            value: "Prop1"
          },
          prop2 : {
            type:String,
            value: "Prop2"
          },
          showReceptor:{
            type:Boolean,
            value:false
          }
        };
      }

      mostrarDatos(datos)
      {
        console.log(datos);
        this.prop1 = datos.course;
        this.prop2 = datos.year;
        this.showReceptor = true;

          // console.log("ON-CLICK", "Han pulsado el botón");
          // console.log(e);
          // this.dispatchEvent(new CustomEvent("mievento", {"detail":{"course":"TechU", "year":"2018"}}));
      }
    }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
